$base_color: #ffffff;
$text_color: black;
$bg_color: #ECE9D8;
$fg_color: black;

$insensitive_fg_color: #a1a192;
$insensitive_bg_color: #f4f4f2;
$insensitive_borders_color: #c9c7ba;

$tooltip_bg_color: #FFFFE2;
$tooltip_fg_color: $fg_color;
$tooltip_borders_color: black;

$selected_fg_color: #ffffff;
$selected_bg_color: #1466C9;
$selected_borders_color: darken($selected_bg_color, 30%);
$selected_outline_color: #ffab1c;

$borders_color: #7b9ebd;
$borders_edge: white;
$link_color: darken($selected_bg_color,10%);
$link_visited_color: darken($selected_bg_color,20%);
$top_hilight: $borders_edge;

$menu_borders: $insensitive_fg_color;
$menubar_top_edge: white;
$menubar_bottom_edge: #d8d2db;

$scrollbar_bg_color: darken($bg_color, 7%);
$sidebar_bg_color: $base_color;

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: #73d216;
$destructive_color: #ef2929;

$backdrop_base_color: darken($base_color, 1%);
$backdrop_text_color: #aca899;
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: darken($backdrop_bg_color, 15%);
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);

$osd_fg_color: $fg_color;
$osd_text_color: $text_color;
$osd_bg_color: mix($bg_color, $base_color, 50%);
$osd_insensitive_bg_color: $insensitive_bg_color;
$osd_insensitive_fg_color: $insensitive_fg_color;
$osd_borders_color: $menu_borders;

$button_color: #f4f4f0;
$button_borders: #003c74;

$separator_color: #cac6af;
$frame_color: #d0d0bf;

$insensitive_entry_border_color: $insensitive_borders_color;
$insensitive_entry_edge_color: #f5f4ea;

$notebook_bg: #fafaf9;
$notebook_bg_a: #fcfcfe;
$notebook_bg_b: #f4f3ee;
$notebook_borders: #919b9c;

$tree_header_bg: $bg_color;
$tree_header_hover_bg: #faf9f4;
$tree_header_active_bg: #dedfd8;

$arrow: #4d6185;
$arrow_insensitive: #c9c9c2;

$calendar_header_bg_color: #7a96df;
$calendar_header_fg_color: #d8e4f8;

$nemo_searchbar_bg_color: #d6dff7;
$nemo_places_bg_color: #687FD9;
$nemo_sidebar_hover_color: #000080;

$inset_shadow: inset 2px 2px #716f64,
               inset -2px -2px #f1efe2,
               inset 1px 1px #aca899,
               inset -1px -1px white;