$flavor: homestead;

// GENERIC
$bg_color: #ece9d8;

$insensitive_fg_color: #aca899;
$insensitive_bg_color: #f6f2e9;

$selected_fg_color: #fff;
$selected_bg_color: #93a070;

// LINKS
$link_color: #000080;

// ENTRIES
$entry_borders_color: #a4b97f;

// BUTTONS
$button_insensitive_fg_color: #a1a192;

// START MENU
$start_menu_fg_color: #373738;
$start_menu_insensitive_fg_color: #808080;
$start_menu_selected_fg_color: #fff;
$start_menu_selected_bg_color: #316ac5;
$start_menu_box_fg_color: #545f38;
$start_menu_box_bg_color: #f3f2e4;
$start_menu_box_borders_color: #cca467;
$start_menu_bottom_fg_color: #41400a;

// FRAMES
$separator_color: #cac6af;

// PANEL
$panel_left_fg_color: #41400a;
$panel_right_fg_color: #41400a;

// WINDOW LIST
$window_list_fg_color: #41400a;

// DESKLETS
$desklet_fg_color: #fff;
