// Drawing mixins

// generic drawing of more complex things

@function _widget_edge($c:$borders_edge) {
// outer highlight "used" on most widgets
  @return 0px 1px $c;
}

@mixin _shadows($shadow1, $shadow2:none, $shadow3:none, $shadow4:none) {
//
// Helper function to stack up to 4 box-shadows;
//
  @if $shadow4!=none { box-shadow: $shadow1, $shadow2, $shadow3, $shadow4; }
  @else if $shadow3!=none { box-shadow: $shadow1, $shadow2, $shadow3; }
  @else if $shadow2!=none { box-shadow: $shadow1, $shadow2; }
  @else { box-shadow: $shadow1; }
}

// entries

@mixin entry_button($t, $dir:'', $bor:'') {

  $_border: 2px 2px 2px 2px;
  $_slice: 2 2 2 2;

  @if $bor=='' {
    @if $dir==rtl {
      $_slice: 3 2 3 3;
      $_border: 3px 2px 3px 3px;
	} @else if $dir==ltr {
      $_slice: 3 3 3 2;
      $_border: 3px 3px 3px 2px;
	} @else {
      $_slice: 3 2 3 2;
      $_border: 3px 2px 3px 2px;
	}
  }

  $d: if($dir=='','',"-#{$dir}");
  $b: if($bor=='','',"-borderless");

  border-width: $_border;
  border-style: solid;
  border-color: transparent;
  
  box-shadow: none;

  @if $t==normal {
    border-image: url("Button/entry-button#{$b}#{$d}.png");
    background-image: url("Button/entry-button-bg.png");
  }
  @if $t==hover {
    border-image: url("Button/entry-button#{$b}#{$d}-hover.png");
    background-image: url("Button/entry-button-bg-hover.png");
  }
  @if $t==active {
    border-image: url("Button/entry-button#{$b}#{$d}-active.png");
    background-image: url("Button/entry-button-bg-active.png");
  }
  @if $t==insensitive {
    border-image: url("Button/entry-button#{$b}#{$d}-insensitive.png");
    background-image: url("Button/entry-button-bg-insensitive.png");
  }

  border-image-slice: $_slice;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

// buttons

$button_radius: 3.5px;

@function _border_color ($c) { @return darken($c,25%); } // colored buttons want
                                                         // the border form the
                                                         // base color

@function _text_shadow_color ($tc:$fg_color, $bg:$bg_color) {
//
// calculate the color of text shadows
//
// $tc is the text color
// $bg is the background color
//
  $_lbg: lightness($bg)/100%;
  @if lightness($tc)<50% { @return transparentize(white,1-$_lbg/($_lbg*1.3)); }
  @else { @return transparentize(black,$_lbg*0.8); }
}

@function _button_hilight_color($c) {
//
// calculate the right top hilight color for buttons
//
// $c: base color;
//
  @if lightness($c)>90% { @return white; }
  @else if lightness($c)>80% { @return transparentize(white, 0.3); }
  @else if lightness($c)>50% { @return transparentize(white, 0.5); }
  @else if lightness($c)>40% { @return transparentize(white, 0.7); }
  @else { @return transparentize(white, 0.9); }
}

@mixin _button_text_shadow ($tc:$fg_color, $bg:$bg_color) {
//
// helper function for the text emboss effect
//
// $tc is the optional text color, not the shadow color
//
// TODO: this functions needs a way to deal with special cases
//

  $_shadow: _text_shadow_color($tc, $bg);

  @if lightness($tc)<50% {
    text-shadow: 0px 1px $_shadow;
  }
  @else {
    text-shadow: 0px -1px $_shadow;
  }
}

@mixin button($t, $c:$button_color, $tc:$fg_color, $edge: $borders_edge, $r_shadow:true) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//

  $right_shadow: linear-gradient(to left,
                                 transparentize(black, 0.955) 1px,
                                 transparentize(black, 0.994) 2px,
                                 transparent 2px
                                 );

  $_hilight_color: transparentize(white, 0.95);

  //ugly hack to "switch" bottom edge on/off to integrate with adwaita code
  $_bottom_edge_transparency: if($edge==none, 1.0, 0.4);
  $_button_edge: 0px 1px transparentize(white, $_bottom_edge_transparency),
                 1px 0px transparentize(white, 0.80),
				 0px -1px transparentize(black, 0.96),
				-1px 0px transparentize(black, 0.97);

  $_default_bg: linear-gradient(to bottom,
                                #CEE7FF 1px,
                                #BCD4F6 1px,
                                #BCD4F6 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                #6982EE 1px,
                                #89ADE4 1px,
                                #89ADE4 2px,
                                transparent 2px
                                ),
                linear-gradient(to right,
                                transparentize(#A1BEEC, 0.1) 1px,
                                white 1px,
                                white 2px,
                                transparent 2px
                                ),
                linear-gradient(to left,
                                transparentize(#A1BEEC, 0.1) 1px,
                                white 1px,
                                white 2px,
                                transparent 2px
                                );
  
  $_button_bg: linear-gradient(to right,
                               white,
                               white 1px,
                               transparent 1px
                               ),
               linear-gradient(to left,
                               white,
                               white 1px,
                               transparent 1px
                               ),
               linear-gradient(to top,
                               darken($c, 8%) 1px,
                               $c 40%,
                               lighten($c, 2.5%) 50%,
                               lighten($c, 5%) 55%,
                               lighten($c, 8.5%) 75%,
                               lighten($c, 9%) 75%,
                               lighten($c, 9%) 95%,
                               white 95%,
                               white
                               );

  $_button_bg_active: linear-gradient(to top,
                                      white 3px,
                                      lighten($c, 10%) 3px,
                                      lighten($c, 8%) 25%,
                                      darken($c, 2%) 50%,
                                      darken(mix($c, black, 95%), 2%) 75%,
                                      mix($c, black, 80%) 95%
                                      );
                               
  $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge,1)));

  @if $t==normal {
  //
  // normal button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.5);
    border-color: $button_borders;
    background-image: $_button_bg;
    box-shadow: $_button_edge;
  }

  @else if $t==default {
  //
  // default button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.5);
    border-color: $button_borders;
    background-image: $_button_bg, $_button_bg;
    //box-shadow: $_button_edge,
    //            inset 0px 0px 1px 2px transparentize(#006FFF, 0.7),
    //            inset 0px 1px #c8e1f8,
    //            inset 0px -1px #6982ee;
  }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.5);
    border-color: $button_borders;
    background-image: $_button_bg;
    box-shadow: $_button_edge,
                inset 0px 0px 1px 2px transparentize(#FFBB00, 0.3),
                inset 0px 1px #fff0cf,
                inset 0px -1px #e59700;
    icon-shadow: none;
  }

  @else if $t==active {
  //
  // pushed button
  //
    color: $tc;
    outline-color: transparentize($tc, 0.5);
    border-color: $button_borders;
    background-image: $_button_bg_active;
    box-shadow: $_button_edge,
                inset 0px 0px 0px 1px white;
  }
  @else if $t==insensitive {
  //
  // insensitive button
  //
    color: $insensitive_fg_color;
    border-color: $insensitive_borders_color;
    background-image: none;
    background-color: #f5f4ea;
    text-shadow: none;
    icon-shadow: none;
    box-shadow: none;
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.5),
                            $osd_bg_color);

    color: $osd_fg_color;
    border-color: $button_borders;
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    //text-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.5);
  }
  @else if $t==osd-hover {
  //
  // active osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.3), lighten($osd_bg_color, 12%));

    //color: white;
    border-color: $button_borders;
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    //text-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.5);
    icon-shadow: none;
  }
  @else if $t==osd-active {
  //
  // active osd button
  //
    $_bg: if($c!=$bg_color, $c, $osd_borders_color);

    //color: white;
    border-color: $button_borders;
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    outline-color: transparentize($osd_fg_color, 0.5);
  }
  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    color: $osd_insensitive_fg_color;
    border-color: $insensitive_borders_color;
    background-image: linear-gradient(to bottom, $osd_insensitive_bg_color);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==osd-backdrop {
  //
  // backdrop osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.5),
                            $osd_bg_color);

    color: $osd_fg_color;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;
    background-color: transparent;
    background-image: none;

    @include _shadows(inset 0 1px transparentize(white, 1),
                      $_blank_edge);

    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==toolbar-hover {
    border-color: #cecec3;
    background-color: transparent;
    background-image: linear-gradient(to left,
                                      transparentize(black, 0.955) 1px,
                                      transparentize(black, 0.993) 2px,
                                      transparent 2px
                                      ),
                      linear-gradient(to top,
                                      #d7d2c6,
                                      #d7d2c6 1px,
                                      #e4e1d6 1px,
                                      #e4e1d6 2px,
                                      #eeede5 2px,
                                      #eeede5 3px,
                                      transparent 3px
                                      ),
                      linear-gradient(to bottom,
                                      #fefefd,
                                      #fefefd 1px,
                                      #fdfdfb 1px,
                                      #fdfdfb 2px,
                                      #fbfbf8 2px,
                                      #fbfbf8 3px,
                                      #f9f9f5 3px,
                                      #f1f1ea
                                      );
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==toolbar-active {
    color: $fg_color;
    border-color: #7a98af;
    background-color: white;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==toolbar-pressed {
    color: $fg_color;
    border-color: #9d9d92;
    background-color: transparent;
    background-image: linear-gradient(to right,
                                      transparentize(black, 0.94),
                                      transparent 3px
                                      ),
                      linear-gradient(to top,
                                      #ebeae5,
                                      #ebeae5 1px,
                                      #e6e5de 1px,
                                      #e6e5de 2px,
                                      transparent 2px
                                      ),
                      linear-gradient(to bottom,
                                      #dcdad1,
                                      #dcdad1 1px,
                                      #e3e1da 1px,
                                      #e3e1da 2px,
                                      #e7e6e0 2px,
                                      #e1e0d8
                                      );
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==toolbar-active-hover {
    color: $fg_color;
    border-color: #7a98af;
    background-color: white;
    background-image: linear-gradient(to bottom,
                                      transparentize(white, 0.5),
                                      transparentize(white, 0.99) 3px,
                                      transparent 3px
                                      ),
                      linear-gradient(to left,
                                      transparentize(black, 0.955) 1px,
                                      transparentize(black, 0.993) 2px,
                                      transparent 2px
                                      ),
                      linear-gradient(to top,
                                      #e4ded8,
                                      #e4ded8 1px,
                                      #f0ede9 1px,
                                      #f0ede9 2px,
                                      #faf9f8 2px,
                                      #faf9f8 3px,
                                      #fefefe 60%,
                                      white
                                      );
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
}

@mixin progressbar_trough ($d:horizontal) {
    border: 1px solid #686868;
    border-radius: 3px;
    background-color: $base_color;
    box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef, inset 1px 1px #bebebe;
    @if $d==horizontal { padding: 3px 4px}
    @else if $d==vertical { padding: 4px 3px; }
}

@mixin frame_inset {
  border: 2px solid transparent;
  border-image: url("Shadows/frame-inset.png");
  border-image-slice: 2 2 2 2;
  border-image-repeat: stretch;
}

@mixin toolbar_bg {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-top-color: white;
  border-bottom-color: $separator_color;
  background: $bg_color;
}
