// GENERIC
$bg_color: #ebe9ed;

$insensitive_fg_color: #b5b4b8;
$insensitive_bg_color: #fff;
$insensitive_borders_color: #c7c7c7;

$selected_fg_color: #fff;
$selected_bg_color: #3e9de8;
$selected_outline_color: #c16217;

$borders_color: #b5b4b8;

// LINK
$link_color: #000080;
$link_visited_color: #800080;

// ENTRIES
$entry_borders_color: #a7a6aa;
$entry_insensitive_fg_color: #a7a6aa;

// BUTTONS
$button_borders_color: #565656;
$button_insensitive_fg_color: #b5b4b8;

// MENU
$menu_menuitem_selected_bg_color: #3e9de8;

// MENUBAR-MENUITEM
$menubar_menuitem_insensitive_fg_color: #b5b4b8;
$menubar_menuitem_hover_fg_color: #000;
$menubar_menuitem_hover_bg_color: transparent;

// FRAMES
$frame_color: #d6d5d9;
$frame_header_color:#3e9de8;
$separator_color: #d7d7d7;

// NOTEBOOKS
$notebook_bg_color: #fafafa;
$notebook_bg_a_color: #fdfdfd;
$notebook_bg_b_color: #f7f7f7;
$notebook_borders_color: #9d9d9d;

// SCROLLBARS
$overlay_scrollbar_bg_color: #A1A0A3;

// COLUMN HEADERS
$tree_header_bg_color: #dbdbdb;
$tree_header_hover_bg_color: #e6e6e6;
$tree_header_active_bg_color: #dbdbdb;

// ARROWS
$arrow_color: #323232;
$arrow_active_color: #323232;
$arrow_insensitive_color: #c7c7c7;

// ARROWS SPIN
$arrow_spin_color: #013f71;
$arrow_spin_active_color: #013f71;
$arrow_spin_insensitive_color: #c7c7c7;

// CALENDARS
$calendar_header_fg_color: #fff;
$calendar_header_bg_color: #6fa1d9;
$calendar_selected_fg_color: #fff;
$calendar_selected_bg_color: #3e9de8;

// NEMO
$nemo_places_bg_color: #004f8b;
$nemo_sidebar_hover_color: #000080;
