/******************
 * Gnome Terminal *
 ******************/
notebook > stack:not(:only-child) {
  terminal-window &,
  .terminator-terminal-window & { border-width: 1px 0px 0px 0px; }
}

/*********
 * Gedit *
 *********/
.gedit-search-slider {
  padding: 5px;
  background-color: mix($bg_color, $base_color, 50%);
  box-shadow: inset 1px 0 $menu_borders,
              inset -1px 0 $menu_borders,
              inset 0 -1px $menu_borders;

  & button { padding: 4px 6px; }
}

.gedit-search-entry-occurrences-tag {
  color: $insensitive_fg_color;
  padding-left: 4px;
}

.gedit-bottom-panel-paned {
	
  notebook > stack { border-width: 1px 0px 0px; }

  & + statusbar {
    border-width: 1px 0px 0px;
    border-color: $insensitive_fg_color;
    border-style: solid;

    & button {
      &:hover,
      &:active,
      &:checked, & {
        box-shadow: none;
        background: none;
      }
      
      &:hover { background-color: mix($bg_color, $base_color, 50%); }
      
      &:active { background-color: mix($bg_color, $fg_color, 90%); }
    }
  }
}
