/************
 * Cinnamon *
 ************/
/*
 * the little box in the lower-left corner that displays a loading circle
 * when you navigate to a folder with 100000000+ items
 */

.floating-bar {
  border: 1px solid $borders_color;
  border-bottom-width: 0px;
  border-right-width: 0px;
  background-color: $bg_color;

  & .button {
    @extend .button.flat;
    border-radius: 0px;
  }
}

/*
 * Pathbar
 */

NemoPathBar GtkButton {
  &:first-child, &:last-child { padding: 2px; }
}

/*
 * the bars that appear at the top of the screen
 * for search, trash, etc...
 */

NemoTrashBar.info,
NemoXContentBar.info,
NemoQueryEditor.info {
  background-color: $bg_color;
  color: $fg_color;
  text-shadow: none;
  box-shadow: inset 0px 1px $menubar_top_edge,
              inset 0px -1px $menubar_bottom_edge;
}

NemoSearchBar.info {
  color: white;
  background-color: $nemo_searchbar_bg_color;
  border: 1px solid $borders_color;
  border-width: 0px 0px 1px 0px;
}

.nemo-cluebar-label {
  font: normal;
  text-shadow: none;
  color: $fg_color;
}

/*
 * Disc indicators and expanders
 */

NemoPlacesTreeView {
	-NemoPlacesTreeView-disk-full-bg-color: mix(white, $nemo_places_bg_color, 45%);
	-NemoPlacesTreeView-disk-full-fg-color: white;
	-NemoPlacesTreeView-disk-full-bar-width: 2px;
	-NemoPlacesTreeView-disk-full-bar-radius: 1px;
	-NemoPlacesTreeView-disk-full-bottom-padding: 1px;
	-NemoPlacesTreeView-disk-full-max-length: 70px;

	&:selected { -NemoPlacesTreeView-disk-full-bg-color: mix(white, $nemo_places_bg_color, 55%); }

	&.view.expander {
      &:hover { color: $fg_color; }
      &:selected { color: $selected_fg_color; }
	}
}

/*
 * Bar at the bottom
 */

NemoWindow GtkEventBox .toolbar {
  background: none;
  box-shadow: none;
  border: none;
}

NemoWindow {
  & .sidebar {
    & row:hover {
      color: $nemo_sidebar_hover_color;
	}
    & row:selected {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
	}
	& .frame {
      border-width: 0px;

      //this only affects the places half of the sidebar
      & .vertical {
        background-image: none;
        background-color: $nemo_places_bg_color;
        & row {
          color: white;
          &:selected,
          &:selected:backdrop { background-color: mix(white, $nemo_places_bg_color, 25%); }
		}
        & .view {
          background: none;
	    }
	  }
	}
  }
}
