$base_color: #ffffff;
$text_color: black;
$bg_color: #EBE9ED;
$fg_color: black;

$insensitive_fg_color: #a7a6aa;
$insensitive_bg_color: #f4f4f2;
$insensitive_borders_color: #c6c5c9;

$tooltip_bg_color: #FFFFE2;
$tooltip_fg_color: $fg_color;
$tooltip_borders_color: black;

$selected_fg_color: #ffffff;
$selected_bg_color: #335ea8;
$selected_borders_color: darken($selected_bg_color, 30%);
$selected_outline_color: #cca157;

$borders_color: $insensitive_fg_color;
$borders_edge: white;
$link_color: darken($selected_bg_color,10%);
$link_visited_color: darken($selected_bg_color,20%);
$top_hilight: $borders_edge;

$menu_borders: $insensitive_fg_color;
$menubar_item_hover_fg_color: #000;
$menubar_item_hover_bg_color: transparent;
$menubar_top_edge: white;
$menubar_bottom_edge: #d6d5d9;

$scrollbar_bg_color: darken($bg_color, 7%);
$sidebar_bg_color: $base_color;

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: #73d216;
$destructive_color: #ef2929;

$backdrop_base_color: darken($base_color, 1%);
$backdrop_text_color: #aca899;
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: darken($backdrop_bg_color, 15%);
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);

$osd_fg_color: $fg_color;
$osd_text_color: $text_color;
$osd_bg_color: mix($bg_color, $base_color, 50%);
$osd_insensitive_bg_color: $insensitive_bg_color;
$osd_insensitive_fg_color: $insensitive_fg_color;
$osd_borders_color: $menu_borders;

$button_color: #d0dceb;
$button_borders: #2d5082;

$separator_color: $menubar_bottom_edge;
$frame_color: $separator_color;

$insensitive_entry_border_color: #c9c7ba;
$insensitive_entry_edge_color: #f5f4ea;

$notebook_bg: #fafaf9;
$notebook_bg_a: #fbfcff;
$notebook_bg_b: #f3f5fb;
$notebook_borders: #879bb3;

$tree_header_bg: #fff;
$tree_header_hover_bg: $tree_header_bg;
$tree_header_active_bg: $tree_header_bg;

$arrow: #5b6473;
$arrow_insensitive: #b7cbe3;

$calendar_header_bg_color: #6fa1d9;
$calendar_header_fg_color: white;

$nemo_searchbar_bg_color: #d6dff7;
$nemo_places_bg_color: #5b8bd5;
$nemo_sidebar_hover_color: #000080;

$inset_shadow: inset 2px 2px black,
               inset -2px -2px #eceaee,
               inset 1px 1px #a7a6aa,
               inset -1px -1px white;
