//metallic

$button_radius: 3.5px;
$button_bg_color: #dedfec;

@function osd_hover_bg_color($c) {
  @return $c
}

$_default_mask: linear-gradient(to bottom,
                                #cee7ff 1px,
                                #bcd4f6 1px,
                                #bcd4f6 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                #6982ee 1px,
                                #89ade4 1px,
                                #89ade4 2px,
                                transparent 2px
                                ),
                url('Button/default-mask-left.png') no-repeat left center/2px 100%,
                url('Button/default-mask-right.png') no-repeat right center/2px 100%;

$_hover_mask: linear-gradient(to bottom,
                              #fff0cf 1px,
                              transparent 1px
                              ),
              linear-gradient(to top,
                              #e59700 1px,
                              transparent 1px
                              ),
              url('Button/hover-mask-left.png') no-repeat left center/2px 100%,
              url('Button/hover-mask-right.png') no-repeat right center/2px 100%,
              linear-gradient(to bottom,
                              #fdd889 2px,
                              transparent 2px
                              ),
              linear-gradient(to top,
                              #f8b230 2px,
                              transparent 2px
                              );

@function button_bg ($type, $c, $r_shadow) {
  $_normal_bg: linear-gradient(to right,
                               white,
                               white 1px,
                               transparent 1px
                               ),
               linear-gradient(to left,
                               white,
                               white 1px,
                               transparent 1px
                               ),
               linear-gradient(to top,
                               darken($c, 8%) 1px,
                               $c 40%,
                               lighten($c, 2.5%) 50%,
                               lighten($c, 5%) 55%,
                               lighten($c, 8.5%) 75%,
                               lighten($c, 9%) 75%,
                               lighten($c, 9%) 95%,
                               white 95%,
                               white
                               );

  $_active_bg: linear-gradient(to top,
                               white 3px,
                               lighten($c, 10%) 3px,
                               lighten($c, 8%) 25%,
                               darken($c, 2%) 50%,
                               darken(mix($c, black, 95%), 2%) 75%,
                               mix($c, black, 80%) 95%
                               );

  @if $type==normal {
    @return $_normal_bg;
  }
  @else if $type==default {
    @return $_default_mask, $_normal_bg;
  }
  @else if $type==hover {
    @return $_hover_mask, $_normal_bg;
  }
  @else if $type==active {
    @return $_active_bg;
  }
}

@function button_shadow($type, $edge, $top, $right, $bottom, $left) {
  $_b: if($bottom==true and $edge!=none, 0.40, 1.0);
  $_r: if($right==true, 0.70, 1.0);
  $_t: if($top==true, 0.96, 1.0);
  $_l: if($left==true, 0.97, 1.0);

  $_edge_shadow: 0px 1px transparentize(white, $_b),
                 1px 0px transparentize(white, $_r),
                 0px -1px transparentize(white, $_t),
                 -1px 0px transparentize(white, $_l);

  @if $type==disabled or $type==insensitive {
    @return none;
  }
  @else if $type==active {
    @return $_edge_shadow, inset 0px 0px 0px 1px white;
  }
  @else {
	@return $_edge_shadow;
  }
}
