@define-color button_bg_color #f9f6e5;
@define-color button_active_bg_color mix(@button_bg_color, #D7C2BB, 0.15);

/**********
 * button *
 **********/

.button,
.toolbar .button.raised,
.toolbar .raised .button,
.primary-toolbar .raised .button,
.primary-toolbar .button.raised,
.toolbar GtkComboBox .button,
.spinbutton.vertical .button,
GtkSwitch.slider,
GtkSwitch.slider:active {
    background: linear-gradient(to left,
                                rgba(0, 0, 0, 0.045) 1px,
                                rgba(0, 0, 0, 0.006) 2px,
                                transparent 3px
                                ),
                linear-gradient(to top,
                                rgba(161, 37, 0, 0.18),
                                transparent 3px
                                ),
                linear-gradient(to bottom,
                                shade(@button_bg_color, 1.05),
                                shade(@button_bg_color, 1.035) 3px,
                                shade(@button_bg_color, 1.01) 7px,
                                @button_bg_color 50%,
                                shade(@button_bg_color, 1.02)
                                );
}

.button:hover,
.button.default:hover,
.toolbar .button.raised:hover,
.toolbar .raised .button:hover,
.primary-toolbar .raised .button:hover,
.primary-toolbar .button.raised:hover,
.toolbar GtkComboBox .button:hover,
.spinbutton.vertical .button:hover {
    background: linear-gradient(to bottom,
                                #fcc595 1px,
                                transparent 1px
                                ),
                linear-gradient(to top,
                                #cf7225 1px,
                                transparent 1px
                                ),
                url('Button/hover-mask-left.png') no-repeat left center/2px 100%,
                url('Button/hover-mask-right.png') no-repeat right center/2px 100%,
                linear-gradient(to bottom,
                                #edbe96 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                #e3914f 2px,
                                transparent 2px
                                ),
                linear-gradient(to left,
                                rgba(0, 0, 0, 0.045) 1px,
                                rgba(0, 0, 0, 0.006) 2px,
                                transparent 3px
                                ),
                linear-gradient(to top,
                                rgba(0, 0, 0, 0.13),
                                transparent 3px
                                ),
                linear-gradient(to bottom,
                                shade(@button_bg_color, 1.15),
                                shade(@button_bg_color, 1.035) 3px,
                                shade(@button_bg_color, 1.01) 7px,
                                @button_bg_color 50%,
                                shade(@button_bg_color, 1.02)
                                );
}

.button:active,
.button:active:hover,
.toolbar .button.raised:active,
.toolbar .raised .button:active,
.toolbar .button.raised:active:hover,
.toolbar .raised .button:active:hover,
.primary-toolbar .button.raised:active,
.primary-toolbar .button.raised:active:hover,
.primary-toolbar .raised .button:active,
.primary-toolbar .raised .button:active:hover,
.toolbar GtkComboBox .button:active,
.toolbar GtkComboBox .button:active:hover,
.spinbutton.vertical .button:active,
.spinbutton.vertical .button:active:hover,
GtkSwitch.trough,
GtkSwitch.trough:active,
GtkLinkButton.button:active,
GtkLinkButton.button:active:hover,
GtkScaleButton.button:active,
GtkScaleButton.button:active:hover,
.notebook tab .button:active,
.notebook tab .button:active:hover,
.floating-bar .button:active,
.floating-bar .button:active:hover,
#gtk-scalebutton-popup-window .button:active,
#gtk-scalebutton-popup-window .button:active:hover {
    background: linear-gradient(to left,
                                alpha(white, 0.2) 1px,
                                alpha(white, 0.05) 2px,
                                transparent 2px
                                ),
                linear-gradient(to bottom,
                                alpha(#A12500, 0.15),
                                transparent 2px
                                ),
                linear-gradient(to top,
                                shade(@button_active_bg_color, 1.01),
                                shade(@button_active_bg_color, 0.96) 2px,
                                shade(@button_active_bg_color, 0.94)
                                );
}

.button:insensitive,
.button:insensitive:active,
.toolbar .button.raised:insensitive,
.toolbar .button.raised:insensitive:active,
.toolbar .raised .button:insensitive,
.toolbar .raised .button:insensitive:active,
.toolbar GtkComboBox .button:insensitive,
.toolbar GtkComboBox .button:insensitive:active,
.spinbutton.vertical .button:insensitive,
.spinbutton.vertical .button:insensitive:active,
GtkSwitch.trough:insensitive,
GtkSwitch.trough:insensitive:active,
GtkSwitch.slider:insensitive,
GtkSwitch.slider:insensitive:active,
GtkLinkButton.button:insensitive,
GtkLinkButton.button:insensitive:active,
GtkScaleButton.button:insensitive,
GtkScaleButton.button:insensitive:active,
.notebook tab .button:insensitive,
.notebook tab .button:insensitive:active,
.floating-bar .button:insensitive,
.floating-bar .button:insensitive:active,
#gtk-scalebutton-popup-window .button:insensitive,
#gtk-scalebutton-popup-window .button:insensitive:active {
    background-color: @button_insensitive_bg_color;
    background-image: none;
}

.button.default {
    background: linear-gradient(to bottom,
                                #c2d18f 1px,
                                #b1cb80 1px,
                                #b1cb80 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                #a8a766 1px,
                                #90c154 1px,
                                #90c154 2px,
                                transparent 2px
                                ),
                url('Button/default-mask-left.png') no-repeat left center/2px 100%,
                url('Button/default-mask-right.png') no-repeat right center/2px 100%,
                linear-gradient(to top,
                                rgba(0, 0, 0, 0.13),
                                transparent 3px
                                ),
                linear-gradient(to bottom,
                                shade(@button_bg_color, 1.15),
                                shade(@button_bg_color, 1.035) 3px,
                                shade(@button_bg_color, 1.01) 7px,
                                @button_bg_color 50%,
                                shade(@button_bg_color, 1.02)
                                );
}

/****************
 * Flat Buttons *
 ****************/
GtkLinkButton.button,
GtkScaleButton.button,
.notebook tab .button,
.floating-bar .button,
#gtk-scalebutton-popup-window .button {
	background: none;
}

GtkLinkButton.button:hover,
GtkScaleButton.button:hover,
.notebook tab .button:hover,
.floating-bar .button:hover,
#gtk-scalebutton-popup-window .button:hover {
    background: linear-gradient(to bottom, alpha(@button_bg_color, 0.7));
    background-clip: padding-box;
}

/*************************************
 * Linked Button Backgrounds - Nomal *
 *************************************/
 
.linked .button:last-child,

.toolbar .button.raised.linked:last-child,
.toolbar .raised.linked .button:last-child,

.primary-toolbar .linked .button:last-child,

.primary-toolbar .raised .linked .button:last-child,

.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .raised.linked .button:last-child,

.inline-toolbar.toolbar .button:last-child,

.inline-toolbar.toolbar GtkToolButton:last-child > .button {
	background: linear-gradient(to left,
                                rgba(0, 0, 0, 0.045) 1px,
                                rgba(0, 0, 0, 0.006) 2px,
                                transparent 3px
                                ),
                linear-gradient(to top,
                                rgba(161, 37, 0, 0.17),
                                transparent 3px
                                ),
                linear-gradient(to bottom,
                                shade(@button_bg_color, 1.05),
                                shade(@button_bg_color, 1.035) 3px,
                                shade(@button_bg_color, 1.01) 7px,
                                @button_bg_color 50%,
                                shade(@button_bg_color, 1.02)
                                );
}

.linked .button,
.linked .button:first-child,

.toolbar .button.raised.linked,
.toolbar .raised.linked .button,
.toolbar .button.raised.linked:first-child,
.toolbar .raised.linked .button:first-child,

.primary-toolbar .linked .button,
.primary-toolbar .linked .button:first-child,

.primary-toolbar .raised .linked .button,
.primary-toolbar .raised .linked .button:first-child,

.primary-toolbar .button.raised.linked,
.primary-toolbar .raised.linked .button,
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .raised.linked .button:first-child,

.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:first-child,

.inline-toolbar.toolbar GtkToolButton > .button,
.inline-toolbar.toolbar GtkToolButton:first-child > .button {
	background: linear-gradient(to top,
                                rgba(161, 37, 0, 0.18),
                                transparent 3px
                                ),
                linear-gradient(to bottom,
                                shade(@button_bg_color, 1.05),
                                shade(@button_bg_color, 1.035) 3px,
                                shade(@button_bg_color, 1.01) 7px,
                                @button_bg_color 50%,
                                shade(@button_bg_color, 1.02)
                                );
}

/*************************************
 * Linked Button Backgrounds - Hover *
 *************************************/
 
.linked .button:last-child:hover,

.toolbar .button.raised.linked:last-child:hover,
.toolbar .raised.linked .button:last-child:hover,

.primary-toolbar .linked .button:last-child:hover,

.primary-toolbar .raised .linked .button:last-child:hover,

.primary-toolbar .button.raised.linked:last-child:hover,
.primary-toolbar .raised.linked .button:last-child:hover,

.inline-toolbar.toolbar .button:hover:last-child,

.inline-toolbar.toolbar GtkToolButton:last-child > .button:hover {
	background: linear-gradient(to bottom,
                                #fcc595 1px,
                                transparent 1px
                                ),
                linear-gradient(to top,
                                #cf7225 1px,
                                transparent 1px
                                ),
                url('Button/hover-mask-left.png') no-repeat left center/2px 100%,
                url('Button/hover-mask-right.png') no-repeat right center/2px 100%,
                linear-gradient(to bottom,
                                #edbe96 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                #e3914f 2px,
                                transparent 2px
                                ),
                linear-gradient(to left,
                                rgba(0, 0, 0, 0.045) 1px,
                                rgba(0, 0, 0, 0.006) 2px,
                                transparent 3px
                                ),
                linear-gradient(to top,
                                rgba(0, 0, 0, 0.13),
                                transparent 3px
                                ),
                linear-gradient(to bottom,
                                shade(@button_bg_color, 1.15),
                                shade(@button_bg_color, 1.035) 3px,
                                shade(@button_bg_color, 1.01) 7px,
                                @button_bg_color 50%,
                                shade(@button_bg_color, 1.02)
                                );
}

.linked .button:hover,
.linked .button:first-child:hover,

.toolbar .button.raised.linked:hover,
.toolbar .raised.linked .button:hover,
.toolbar .button.raised.linked:first-child:hover,
.toolbar .raised.linked .button:first-child:hover,

.primary-toolbar .linked .button:hover,
.primary-toolbar .linked .button:first-child:hover,

.primary-toolbar .raised .linked .button:hover,
.primary-toolbar .raised .linked .button:first-child:hover,

.primary-toolbar .button.raised.linked:hover,
.primary-toolbar .raised.linked .button:hover,
.primary-toolbar .button.raised.linked:first-child:hover,
.primary-toolbar .raised.linked .button:first-child:hover,

.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar .button:hover:first-child,

.inline-toolbar.toolbar GtkToolButton > .button:hover,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:hover {
	background: linear-gradient(to bottom,
                                #fcc595 1px,
                                transparent 1px
                                ),
                linear-gradient(to top,
                                #cf7225 1px,
                                transparent 1px
                                ),
                url('Button/hover-mask-left.png') no-repeat left center/2px 100%,
                url('Button/hover-mask-right.png') no-repeat right center/2px 100%,
                linear-gradient(to bottom,
                                #edbe96 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                #e3914f 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                rgba(0, 0, 0, 0.13),
                                transparent 3px
                                ),
                linear-gradient(to bottom,
                                shade(@button_bg_color, 1.15),
                                shade(@button_bg_color, 1.035) 3px,
                                shade(@button_bg_color, 1.01) 7px,
                                @button_bg_color 50%,
                                shade(@button_bg_color, 1.02)
                                );
}

/*************************************
* Linked Button Backgrounds - Active *
**************************************/

.linked .button:last-child:active,
.linked .button:last-child:active:hover,

.toolbar .button.raised.linked:last-child:active,
.toolbar .raised.linked .button:last-child:active,
.toolbar .button.raised.linked:last-child:active:hover,
.toolbar .raised.linked .button:last-child:active:hover,

.primary-toolbar .linked .button:last-child:active,
.primary-toolbar .linked .button:last-child:active:hover,

.primary-toolbar .raised .linked .button:last-child:active,
.primary-toolbar .raised .linked .button:last-child:active:hover,

.primary-toolbar .button.raised.linked:last-child:active,
.primary-toolbar .raised.linked .button:last-child:active,
.primary-toolbar .button.raised.linked:last-child:active:hover,
.primary-toolbar .raised.linked .button:last-child:active:hover,

.inline-toolbar.toolbar .button:last-child:active,
.inline-toolbar.toolbar .button:last-child:active:hover,

.inline-toolbar.toolbar GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:active:hover {
    background: linear-gradient(to left,
                                alpha(white, 0.2) 1px,
                                alpha(white, 0.05) 2px,
                                transparent 2px
                                ),
                linear-gradient(to bottom,
                                alpha(#A12500, 0.15),
                                transparent 2px
                                ),
                linear-gradient(to top,
                                shade(@button_active_bg_color, 1.01),
                                shade(@button_active_bg_color, 0.96) 2px,
                                shade(@button_active_bg_color, 0.94)
                                );
}

.linked .button:active,
.linked .button:active:hover,
.linked .button:first-child:active,
.linked .button:first-child:active:hover,

.toolbar .button.raised.linked:active,
.toolbar .raised.linked .button:active,
.toolbar .button.raised.linked:active:hover,
.toolbar .raised.linked .button:active:hover,
.toolbar .button.raised.linked:first-child:active,
.toolbar .raised.linked .button:first-child:active,
.toolbar .button.raised.linked:first-child:active:hover,
.toolbar .raised.linked .button:first-child:active:hover,

.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:active:hover,
.primary-toolbar .linked .button:first-child:active,
.primary-toolbar .linked .button:first-child:active:hover,

.primary-toolbar .raised .linked .button:active,
.primary-toolbar .raised .linked .button:active:hover,
.primary-toolbar .raised .linked .button:first-child:active,
.primary-toolbar .raised .linked .button:first-child:active:hover,

.primary-toolbar .button.raised.linked:active,
.primary-toolbar .raised.linked .button:active,
.primary-toolbar .button.raised.linked:active:hover,
.primary-toolbar .raised.linked .button:active:hover,
.primary-toolbar .button.raised.linked:first-child:active,
.primary-toolbar .raised.linked .button:first-child:active,
.primary-toolbar .button.raised.linked:first-child:active:hover,
.primary-toolbar .raised.linked .button:first-child:active:hover,

.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:active:hover,
.inline-toolbar.toolbar .button:first-child:active,
.inline-toolbar.toolbar .button:first-child:active:hover,

.inline-toolbar.toolbar GtkToolButton > .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:active:hover,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:active:hover {
    background: linear-gradient(to bottom,
                                alpha(#A12500, 0.15),
                                transparent 2px
                                ),
                linear-gradient(to top,
                                shade(@button_active_bg_color, 1.01),
                                shade(@button_active_bg_color, 0.96) 2px,
                                shade(@button_active_bg_color, 0.94)
                                );
}

/*******************************************
 * Linked Button Backgrounds - Insensitive *
 *******************************************/

.linked .button:insensitive,
.linked .button:insensitive:hover,
.linked .button:first-child:insensitive,
.linked .button:first-child:insensitive:hover,
.linked .button:last-child:insensitive,
.linked .button:last-child:insensitive:hover,

.toolbar .button.raised.linked:insensitive,
.toolbar .raised.linked .button:insensitive,
.toolbar .button.raised.linked:insensitive:hover,
.toolbar .raised.linked .button:insensitive:hover,
.toolbar .button.raised.linked:first-child:insensitive,
.toolbar .raised.linked .button:first-child:insensitive,
.toolbar .button.raised.linked:first-child:insensitive:hover,
.toolbar .raised.linked .button:first-child:insensitive:hover,
.toolbar .button.raised.linked:last-child:insensitive,
.toolbar .raised.linked .button:last-child:insensitive,
.toolbar .button.raised.linked:last-child:insensitive:hover,
.toolbar .raised.linked .button:last-child:insensitive:hover,

.primary-toolbar .linked .button:insensitive,
.primary-toolbar .linked .button:insensitive:hover,
.primary-toolbar .linked .button:first-child:insensitive,
.primary-toolbar .linked .button:first-child:insensitive:hover,
.primary-toolbar .linked .button:last-child:insensitive,
.primary-toolbar .linked .button:last-child:insensitive:hover,

.primary-toolbar .raised .linked .button:insensitive,
.primary-toolbar .raised .linked .button:insensitive:hover,
.primary-toolbar .raised .linked .button:first-child:insensitive,
.primary-toolbar .raised .linked .button:first-child:insensitive:hover,
.primary-toolbar .raised .linked .button:last-child:insensitive,
.primary-toolbar .raised .linked .button:last-child:insensitive:hover,

.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .raised.linked .button:insensitive,
.primary-toolbar .button.raised.linked:insensitive:hover,
.primary-toolbar .raised.linked .button:insensitive:hover,
.primary-toolbar .button.raised.linked:first-child:insensitive,
.primary-toolbar .raised.linked .button:first-child:insensitive,
.primary-toolbar .button.raised.linked:first-child:insensitive:hover,
.primary-toolbar .raised.linked .button:first-child:insensitive:hover,
.primary-toolbar .button.raised.linked:last-child:insensitive,
.primary-toolbar .raised.linked .button:last-child:insensitive,
.primary-toolbar .button.raised.linked:last-child:insensitive:hover,
.primary-toolbar .raised.linked .button:last-child:insensitive:hover,

.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar .button:insensitive:hover,
.inline-toolbar.toolbar .button:first-child:insensitive,
.inline-toolbar.toolbar .button:first-child:insensitive:hover,
.inline-toolbar.toolbar .button:last-child:insensitive,
.inline-toolbar.toolbar .button:last-child:insensitive:hover,

.inline-toolbar.toolbar GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive:hover,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:insensitive:hover,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive:hover {
	background-color: @button_insensitive_bg_color;
    background-image: none;
}

/* and this is why scss exists :( */
