/*******************
 * check and radio *
 *******************/

.check {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-unchecked.png'));
    background-size: 100% 100%;
}

.check row:selected,
.check row:selected:focus {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-unchecked.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check row:hover {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-unchecked-hover.png'));
}

.check row:selected:hover,
.check row:selected:focus:hover {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-unchecked-hover.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check:insensitive {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-unchecked-insensitive.png'));
}

.check row:selected:insensitive,
.check row:selected:focus:insensitive {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-unchecked-insensitive.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check:active {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-checked.png'));
}

.check row:selected:active,
.check row:selected:focus:active {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-checked.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check row:active:hover {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-checked-hover.png'));
}

.check row:selected:active:hover,
.check row:selected:focus:active:hover {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-checked-hover.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check:active:insensitive {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-checked-insensitive.png'));
}

.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-checked-insensitive.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check:inconsistent {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-mixed.png'));
}

.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-mixed.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check row:inconsistent:hover {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-mixed-hover.png'));
}

.check row:selected:inconsistent:hover,
.check row:selected:focus:inconsistent:hover {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-mixed-hover.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.check:inconsistent:insensitive {
    background-image: -gtk-scaled(url('Check-Radio/checkbox-mixed-insensitive.png'));
}

.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/checkbox-mixed-insensitive.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio {
    background-image: -gtk-scaled(url('Check-Radio/radio-unchecked.png'));
}

.radio row:selected,
.radio row:selected:focus {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-unchecked.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio row:hover {
    background-image: -gtk-scaled(url('Check-Radio/radio-unchecked-hover.png'));
}

.radio row:selected:hover,
.radio row:selected:focus:hover {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-unchecked-hover.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio:insensitive {
    background-image: -gtk-scaled(url('Check-Radio/radio-unchecked-insensitive.png'));
}

.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-unchecked-insensitive.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio:active {
    background-image: -gtk-scaled(url('Check-Radio/radio-checked.png'));
}

.radio row:selected:active,
.radio row:selected:focus:active {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-checked.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio row:active:hover {
    background-image: -gtk-scaled(url('Check-Radio/radio-checked-hover.png'));
}

.radio row:selected:active:hover,
.radio row:selected:focus:active:hover {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-checked-hover.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio:active:insensitive {
    background-image: -gtk-scaled(url('Check-Radio/radio-checked-insensitive.png'));
}

.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-checked-insensitive.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio:inconsistent {
    background-image: -gtk-scaled(url('Check-Radio/radio-mixed.png'));
}

.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-mixed.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio row:inconsistent:hover {
    background-image: -gtk-scaled(url('Check-Radio/radio-mixed-hover.png'));
}

.radio row:selected:inconsistent:hover,
.radio row:selected:focus:inconsistent:hover {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-mixed-hover.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.radio:inconsistent:insensitive {
    background-image: -gtk-scaled(url('Check-Radio/radio-mixed-insensitive.png'));
}

.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
    background-image: -gtk-scaled(cross-fade(15%
	                                         url('Check-Radio/radio-mixed-insensitive.png'),
	                                         url('Check-Radio/selected-mask.png')
	                                         ));
}

.menuitem.check:active {
    background-image: -gtk-scaled(url('Menu/menu-check-checked.png'));
}

.menuitem.check:active:hover {
    background-image: -gtk-scaled(url('Menu/menu-check-checked-hover.png'));
}

.menuitem.check:active:insensitive {
    background-image: -gtk-scaled(url('Menu/menu-check-checked-insensitive.png'));
}

.menuitem.check:inconsistent {
    background-image: -gtk-scaled(url('Menu/menu-check-mixed.png'));
}

.menuitem.check:inconsistent:insensitive {
    background-image: -gtk-scaled(url('Menu/menu-check-mixed-insensitive.png'));
}

.menuitem.check:inconsistent:hover {
    background-image: -gtk-scaled(url('Menu/menu-check-mixed-hover.png'));
}

.menuitem.radio:active {
    background-image: -gtk-scaled(url('Menu/menu-radio-checked.png'));
}

.menuitem.radio:active:hover {
    background-image: -gtk-scaled(url('Menu/menu-radio-checked-hover.png'));
}

.menuitem.radio:active:insensitive {
    background-image: -gtk-scaled(url('Menu/menu-radio-checked-insensitive.png'));
}

.menuitem.radio:inconsistent {
    background-image: -gtk-scaled(url('Menu/menu-radio-mixed.png'));
}

.menuitem.radio:inconsistent:insensitive {
    background-image: -gtk-scaled(url('Menu/menu-radio-mixed-insensitive.png'));
}

.menuitem.radio:inconsistent:hover {
    background-image: -gtk-scaled(url('Check-Radio/menu-radio-mixed-hover.png'));
}

/******************
 * pane separator *
 ******************/

.pane-separator {
    background-image: -gtk-scaled(url('Handles/pane-separator-grip-vertical.png'));
    background-repeat: no-repeat;
    background-position: center;
}

.pane-separator.vertical {
    background-image: -gtk-scaled(url('Handles/pane-separator-grip.png'));
}

/****************
 * scale slider *
 ****************/

.scale.slider,
.scale.slider.horizontal {
    background-image: -gtk-scaled(url('Range/slider-horz.png'));
}

.scale.slider:hover,
.scale.slider.horizontal:hover {
    background-image: -gtk-scaled(url('Range/slider-horz-hover.png'));
}

.scale.slider:active,
.scale.slider.horizontal:active {
    background-image: -gtk-scaled(url('Range/slider-horz-active.png'));
}

.scale.slider:insensitive,
.scale.slider.horizontal:insensitive {
    background-image: -gtk-scaled(url('Range/slider-horz-insensitive.png'));
}

.scale.slider.vertical {
	background-image: -gtk-scaled(url('Range/slider-vert.png'));
}

.scale.slider.vertical:hover {
	background-image: -gtk-scaled(url('Range/slider-vert-hover.png'));
}

.scale.slider.vertical:active {
	background-image: -gtk-scaled(url('Range/slider-vert-active.png'));
}

.scale.slider.vertical:insensitive {
	background-image: -gtk-scaled(url('Range/slider-vert-insensitive.png'));
}

.scale.scale-has-marks-above.slider,
.scale.scale-has-marks-above.slider.horizontal {
    background-image: -gtk-scaled(url('Range/slider-horz-scale-scale-has-marks-above.png'));
}

.scale.scale-has-marks-above.slider:hover,
.scale.scale-has-marks-above.slider.horizontal:hover {
    background-image: -gtk-scaled(url('Range/slider-horz-scale-has-marks-above-hover.png'));
}

.scale.scale-has-marks-above.slider:active,
.scale.scale-has-marks-above.slider.horizontal:active {
    background-image: -gtk-scaled(url('Range/slider-horz-active.png'));
}

.scale.scale-has-marks-above.slider:insensitive,
.scale.scale-has-marks-above.slider.horizontal:insensitive {
    background-image: -gtk-scaled(url('Range/slider-horz-scale-has-marks-above-insensitive.png'));
}

.scale.scale-has-marks-above.slider.vertical {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-above.png'));
}

.scale.scale-has-marks-above.slider.vertical:hover {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-above-hover.png'));
}

.scale.scale-has-marks-above.slider.vertical:active {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-above-active.png'));
}

.scale.scale-has-marks-above.slider.vertical:insensitive {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-above-insensitive.png'));
}

.scale.scale-has-marks-below.slider,
.scale.scale-has-marks-below.slider.horizontal {
    background-image: -gtk-scaled(url('Range/slider-horz-scale-has-marks-below.png'));
}

.scale.scale-has-marks-below.slider:hover,
.scale.scale-has-marks-below.slider.horizontal:hover {
    background-image: -gtk-scaled(url('Range/slider-horz-scale-has-marks-below-hover.png'));
}

.scale.scale-has-marks-below.slider:active,
.scale.scale-has-marks-below.slider.horizontal:active {
    background-image: -gtk-scaled(url('Range/slider-horz-scale-has-marks-below-active.png'));
}

.scale.scale-has-marks-below.slider:insensitive,
.scale.scale-has-marks-below.slider.horizontal:insensitive {
    background-image: -gtk-scaled(url('Range/slider-horz-scale-has-marks-below-insensitive.png'));
}

.scale.scale-has-marks-below.slider.vertical {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-below.png'));
}

.scale.scale-has-marks-below.slider.vertical:hover {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-below-hover.png'));
}

.scale.scale-has-marks-below.slider.vertical:active {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-below-active.png'));
}

.scale.scale-has-marks-below.slider.vertical:insensitive {
	background-image: -gtk-scaled(url('Range/slider-vert-scale-has-marks-below-insensitive.png'));
}

.scale.trough,
.scale.trough:insensitive {
    border: 2px solid transparent;
    border-radius: 0;
    border-image: url('Range/trough-horz.png');
	border-image-slice: 2 2 2 2;
    border-image-repeat: stretch;
}

.scale.trough.vertical,
.scale.trough.vertical:insensitive {
	border: 2px solid transparent;
	border-radius: 0;
    border-image: url('Range/trough-vert.png');
    border-image-slice: 2 2 2 2;
    border-image-repeat: stretch;
}
