$flavor: zune;

// GENERIC
$bg_color: #e2e2e2;

$insensitive_fg_color: #b4b4b4;
$insensitive_bg_color: #fff;

$selected_fg_color: #000;
$selected_bg_color: #bebebe;

// LINKS
$link_color: #000080;

// ENTRIES
$entry_borders_color: #969696;

// BUTTONS
$button_insensitive_fg_color: #a1a192;

// START MENU
$start_menu_fg_color: #fff;
$start_menu_insensitive_fg_color: #b2bcc0;
$start_menu_selected_fg_color: #000;
$start_menu_selected_bg_color: #bebebe;
$start_menu_box_fg_color: #fff;
$start_menu_box_bg_color: #666666;
$start_menu_box_borders_color: #464646;
$start_menu_bottom_fg_color: #fff;

// FRAMES
$separator_color: #d6d5d9;

// PANEL
$panel_left_fg_color: #fff;
$panel_right_fg_color: #fff;

// WINDOW LIST
$window_list_fg_color: #fff;

// DESKLETS
$desklet_fg_color: #fff;
