// GENERIC
$bg_color: #ebe9ed;

$insensitive_fg_color: #a7a6aa;
$insensitive_bg_color: #fff;
$insensitive_borders_color: #c6c5c9;

$selected_fg_color: #fff;
$selected_bg_color: #335ea8;
$selected_outline_color: #cca157;

$borders_color: #a7a6aa;

// LINK
$link_color: #000080;
$link_visited_color: #800080;

// ENTRIES
$entry_borders_color: #a7a6aa;
$entry_insensitive_fg_color: #a7a6aa;

// BUTTONS
$button_borders_color: #2d5082;
$button_insensitive_fg_color: #a7a6aa;

// MENU
$menu_menuitem_selected_bg_color: #335ea8;

// MENUBAR-MENUITEM
$menubar_menuitem_insensitive_fg_color: #a7a6aa;
$menubar_menuitem_hover_fg_color: #000;
$menubar_menuitem_hover_bg_color: transparent;

// FRAMES
$frame_color: #d6d5d9;
$frame_header_color:#335ea8;
$separator_color: #d6d5d9;

// NOTEBOOKS
$notebook_bg_color: #fafaf9;
$notebook_bg_a_color: #fbfcff;
$notebook_bg_b_color: #f3f5fb;
$notebook_borders_color: #879bb3;

// COLUMN HEADERS
$tree_header_bg_color: #fff;
$tree_header_hover_bg_color: #fff;
$tree_header_active_bg_color: #fff;

// ARROWS
$arrow_color: #5b6473;
$arrow_active_color: #6b7b84;
$arrow_insensitive_color: #c9c9c2;

// ARROWS SPIN
$arrow_spin_color: #5b6473;
$arrow_spin_active_color: #6b7b84;
$arrow_spin_insensitive_color: #b7cbe3;

// CALENDARS
$calendar_header_bg_color: #6fa1d9;
$calendar_header_fg_color: #fff;
$calendar_selected_fg_color: #fff;
$calendar_selected_bg_color: #335ea8;

// NEMO
$nemo_places_bg_color: #5b8bd5;
$nemo_sidebar_hover_color: #000080;
