$button_radius: 2px;
$button_bg_color: #d0dceb;

$_default_mask: url('Button/default-mask-corner-upper-left.png') no-repeat left top/2px 2px,
                url('Button/default-mask-corner-upper-right.png') no-repeat right top/2px 2px,
                url('Button/default-mask-corner-lower-left.png') no-repeat left bottom/2px 2px,
                url('Button/default-mask-corner-lower-right.png') no-repeat right bottom/2px 2px,
                linear-gradient(to bottom,
                                #8bc0ea 1px,
                                #a3b9e0 1px,
                                #a3b9e0 2px,
                                transparent 2px
                                ),
                linear-gradient(to top,
                                #3f6db1 1px,
                                #5e81bc 1px,
                                #5e81bc 2px,
                                transparent 2px
                                ),
                url('Button/default-mask-left.png') no-repeat left center/2px 100%,
                url('Button/default-mask-right.png') no-repeat right center/2px 100%;

$_hover_mask: linear-gradient(to bottom,
                              #f5e8a1 1px,
                              transparent 1px
                              ),
              linear-gradient(to top,
                              #da7926 1px,
                              transparent 1px
                              ),
              url('Button/hover-mask-left.png') no-repeat left center/2px 100%,
              url('Button/hover-mask-right.png') no-repeat right center/2px 100%,
              linear-gradient(to bottom,
                              #efcf86 2px,
                              transparent 2px
                              ),
              linear-gradient(to top,
                              #f1b860 2px,
                              transparent 2px
                              );

@function button_bg ($type, $c, $r_shadow) {
  $_button_inner_edge: transparentize(darken($c, 17%), 0.25),
                       transparentize(darken($c, 17%), 0.25) 1px,
                       transparentize(lighten($c, 11.5%), 0.55) 1px,
                       transparentize(lighten($c, 11.5%), 0.55) 2px,
                       transparent 2px;

  $_normal_bg: linear-gradient(to top,
                               darken($c, 18%),
                               darken($c, 18%) 1px,
                               transparent 1px
                               ),
               linear-gradient(to right,
                               $_button_inner_edge
                               ),
               linear-gradient(to left,
                               $_button_inner_edge
                               ),
               linear-gradient(to bottom,
                               lighten($c, 1.25%) 1px,
                               lighten($c, 11.5%) 1px,
                               lighten($c, 11.5%) 2px,
                               lighten($c, 9.75%) 2px,
                               lighten($c, 9.75%) 3px,
                               transparent 3px
                               ),
               linear-gradient(to top,
                               darken($c, 17.5%) 1px,
                               $c 40%,
                               lighten($c, 5.25%) 45%,
                               lighten($c, 7%) 50%,
                               lighten($c, 9.3%) 60%,
                               lighten($c, 12.5%)
                               );

  $_active_bg: linear-gradient(to bottom,
                               lighten($c, 1.25%) 1px,
                               darken($c, 27%) 1px,
                               darken($c, 27%) 2px,
                               transparent 2px
                               ),
               linear-gradient(to right,
                               darken($c, 27%) 1px,
                               transparent 1px
                               ),
               linear-gradient(to left,
                               darken($c, 27%) 1px,
                               transparent 1px
                               ),
               linear-gradient(to top,
                               lighten($c, 11.5%) 1px,
                               lighten($c, 9.75%) 1px,
                               lighten($c, 9.75%) 2px,
                               lighten($c, 12.5%) 2px,
                               lighten($c, 5.25%) 50%,
                               darken($c, 17.5%) 95%
                               );

  @if $type==normal {
    @return $_normal_bg;
    
  } @else if $type==default {
    @return $_default_mask, $_normal_bg;
    
  } @else if $type==hover {
    @return $_hover_mask, $_normal_bg;
    
  } @else if $type==active {
    @return $_active_bg;
    
  }
}

@function button_edge($type, $edge) {
  //ugly hack to "switch" bottom edge on/off to integrate with adwaita code
  $_bottom_edge_transparency: if($edge==none, 1.0, 0.4);
  
  @return 0px 1px transparentize(white, $_bottom_edge_transparency),
          1px 0px transparentize(white, 0.80),
          0px -1px transparentize(black, 0.96),
          -1px 0px transparentize(black, 0.97);
}
