/*************
 * evolution *
 *************/

GtkHTML {
    background-color: @theme_base_color;
    color: @theme_fg_color;
}

GtkHTML:active {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/*************
 * Gucharmap *
 *************/

GucharmapChartable {
    background-color: @theme_base_color;
}

GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/************
 * terminal *
 ************/

TerminalScreen {
    -TerminalScreen-background-darkness: 1.0;
    background-color: black;
	color: white;
}

TerminalWindow GtkNotebook.notebook {
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

.nautilus-canvas-item {
    border-radius: 0;
}
.nautilus-desktop.nautilus-canvas-item {
    color: @desktop_item_fg;
	text-shadow: 1px 1px @desktop_item_text_shadow;
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-color: @desktop_item_selected_fg;
    background-image: none;
    color: @theme_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}
