/* Generic */
@define-color bg_color #ece9d8;

@define-color insensitive_fg_color #a1a192;
@define-color insensitive_bg_color #f5f4ea;
@define-color insensitive_borders_color #c9c7ba;

@define-color selected_fg_color #fff;
@define-color selected_bg_color #316ac5;
@define-color selected_outline_color #ffab1c;

@define-color borders_color #7f9db9;

/* Link */
@define-color link_color #000080;
@define-color link_visited_color #800080;

/* Entries */
@define-color entry_borders_color #7f9db9;
@define-color entry_insensitive_fg_color #aca899;

/* Buttons */
@define-color button_borders_color #003c74;
@define-color button_insensitive_fg_color #a1a192;

/* Menu */
@define-color menu_menuitem_selected_bg_color #316ac5;

/* Menubar-Menuitem */
@define-color menubar_menuitem_insensitive_fg_color #aca899;
@define-color menubar_item_hover_fg_color #fff;
@define-color menubar_item_hover_bg_color #316ac5;

/* Frames */
@define-color frame_color #d0d0bf;
@define-color frame_header_color #0046d5;
@define-color separator_color #cac6af;

/* Notebooks */
@define-color notebook_bg_color #fafaf9;
@define-color notebook_bg_a_color #fcfcfe;
@define-color notebook_bg_b_color #f4f3ee;
@define-color notebook_borders_color #919b9c;

/* Column Headers */
@define-color tree_header_bg_color #ebeadb;
@define-color tree_header_hover_bg_color #faf8f3;
@define-color tree_header_active_bg_color #dedfd8;

/* Arrow */
@define-color arrow_color #4d6185;
@define-color arrow_active_color #4d6185;
@define-color arrow_insensitive_color #c9c9c2;

/* Arrow Spin */
@define-color arrow_spin_color #4d6185;
@define-color arrow_spin_active_color #4d6185;
@define-color arrow_spin_insensitive_color #c9c9c2;

/* Calendar */
@define-color calendar_header_fg_color #d8e4f8;
@define-color calendar_header_bg_color #7a96df;
@define-color calendar_selected_fg_color #fff;
@define-color calendar_selected_bg_color #0054e3;

/* Nemo */
@define-color nemo_searchbar_bg_color #d6dff7;
@define-color nemo_places_bg_color #687FD9;
@define-color nemo_sidebar_hover_color #000080;

@import url("gtk-main-common.css");
@import url("gtk-widgets.css");
@import url("gtk-widgets-borders.css");
@import url("gtk-widgets-backgrounds.css");
@import url("gtk-widgets-assets.css");
