$flavor: noir;

// GENERIC
$bg_color: #ece9d8;

$insensitive_fg_color: #a7a6aa;
$insensitive_bg_color: #fff;

$selected_fg_color: #fff;
$selected_bg_color: #5e81bc;

// LINKS
$link_color: #000080;

// ENTRIES
$entry_borders_color: #a7a6aa;

// BUTTONS
$button_insensitive_fg_color: #a7a6aa;

// START MENU
$start_menu_fg_color: #fff;
$start_menu_insensitive_fg_color: #a9bec7;
$start_menu_selected_fg_color: #fff;
$start_menu_selected_bg_color: #5e81bc;
$start_menu_box_fg_color: #fff;
$start_menu_box_bg_color: #5a606f;
$start_menu_box_borders_color: #4f5765;
$start_menu_bottom_fg_color: #fff;

// FRAMES
$separator_color: #d6d5d9;

// PANEL
$panel_left_fg_color: #fff;
$panel_right_fg_color: #fff;

// WINDOW LIST
$window_list_fg_color: #fff;

// DESKLETS
$desklet_fg_color: #fff;
