// GENERIC
$bg_color: #ece9d8;

$insensitive_fg_color: #aca899;
$insensitive_bg_color: #f6f2e9;
$insensitive_borders_color: #cac4b8;

$selected_fg_color: #fff;
$selected_bg_color: #93a070;
$selected_outline_color: #745e96;

$borders_color: #a4b97f;

// LINK
$link_color: #000080;
$link_visited_color: #800080;

// ENTRIES
$entry_borders_color: #a4b97f;
$entry_insensitive_fg_color: #aca899;

// BUTTONS
$button_borders_color: #376206;
$button_insensitive_fg_color: #a1a192;

// TOOLBARS
$inset_toolbar_bg_color: #efecdf;

// MENU
$menu_menuitem_selected_bg_color: #93a070;

// MENUBAR-MENUITEM
$menubar_menuitem_insensitive_fg_color: #aca899;
$menubar_menuitem_hover_fg_color: #fff;
$menubar_menuitem_hover_bg_color: #93a070;

// FRAMES
$frame_color: #d0d0bf;
$frame_header_color: #99540a;
$separator_color: #cac6af;

// NOTEBOOKS
$notebook_bg_color: #fafaf9;
$notebook_bg_a_color: #fcfcfe;
$notebook_bg_b_color: #f4f3ee;
$notebook_borders_color: #919b9c;

// SCROLLBARS
$overlay_scrollbar_bg_color: #93a070;

// COLUMN HEADERS
$tree_header_bg_color: #ebeadb;
$tree_header_hover_bg_color: #faf8f3;
$tree_header_active_bg_color: #dedfd8;

// ARROWS
$arrow_color: #fff;
$arrow_active_color: #fff;
$arrow_insensitive_color: #c9c9c2;

// ARROWS SPIN
$arrow_spin_color: #fff;
$arrow_spin_active_color: #fff;
$arrow_spin_insensitive_color: #c9c9c2;

// CALENDAR
$calendar_header_fg_color: #fff;
$calendar_header_bg_color: #d4d6ba;
$calendar_selected_fg_color: #fff;
$calendar_selected_bg_color: #8ba169;

// NEMO
$nemo_places_bg_color: #88976F;
$nemo_sidebar_hover_color: #000080;
