// GENERIC
$bg_color: #ece9d8;

$insensitive_fg_color: #aca899;
$insensitive_bg_color: #f5f4ea;
$insensitive_borders_color: #c9c7ba;

$selected_fg_color: #fff;
$selected_bg_color: #316ac5;
$selected_outline_color: #ffab1c;

$borders_color: #7f9db9;

// LINK
$link_color: #000080;
$link_visited_color: #800080;

// ENTRIES
$entry_borders_color: #7f9db9;
$entry_insensitive_fg_color: #aca899;

// BUTTONS
$button_borders_color: #003c74;
$button_insensitive_fg_color: #a1a192;

// TOOLBARS
$inset_toolbar_bg_color: #ece9d8;

// MENU
$menu_menuitem_selected_bg_color: #316ac5;

// MENUBAR-MENUITEM
$menubar_menuitem_insensitive_fg_color: #aca899;
$menubar_menuitem_hover_fg_color: #fff;
$menubar_menuitem_hover_bg_color: #316ac5;

// FRAMES
$frame_color: #d0d0bf;
$frame_header_color: #0046d5;
$separator_color: #cac6af;

// NOTEBOOKS
$notebook_bg_color: #fafaf9;
$notebook_bg_a_color: #fcfcfe;
$notebook_bg_b_color: #f4f3ee;
$notebook_borders_color: #919b9c;

// SCROLLBARS
$overlay_scrollbar_bg_color: #316ac5;

// COLUMN HEADERS
$tree_header_bg_color: #ebeadb;
$tree_header_hover_bg_color: #faf8f3;
$tree_header_active_bg_color: #dedfd8;

// ARROWS
$arrow_color: #4d6185;
$arrow_active_color: #4d6185;
$arrow_insensitive_color: #c9c9c2;

// ARROWS SPIN
$arrow_spin_color: #4d6185;
$arrow_spin_active_color: #4d6185;
$arrow_spin_insensitive_color: #c9c9c2;

// CALENDAR
$calendar_header_fg_color: #d8e4f8;
$calendar_header_bg_color: #7a96df;
$calendar_selected_fg_color: #fff;
$calendar_selected_bg_color: #0054e3;

// NEMO
$nemo_places_bg_color: #687FD9;
$nemo_sidebar_hover_color: #000080;
